.App {
  text-align: center;
}

button {
  color: white;
  padding: 30px 145px;
  border: solid 1px;
  border-radius: 3px;
  font-weight: lighter;
  font-size: x-large;
  background-color: rgb(255, 104, 117);
  border-color: rgb(255, 104, 117);
  margin: 50px 100px;
  border-radius: 5px;
}

button:hover {
  background-color: rgb(255, 0, 21);
  border-color: rgb(246, 0, 21);
}

button:focus {
  outline: none;
  border: none;
}

.popup {
  background-color: rgb(255, 104, 117);
  width: 600px;
  height: 80px;
  border-radius: 5px;
  color: white;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

